@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&subset=latin-ext')

@import reset
@import mixins



html
  font-size: $base-font-size

@media (min-width: 768px) and (max-width: 991px)
  html
    font-size: 16px

*
  box-sizing: border-box

body
  @include font-size(16px)
  font-family: 'Lato', sans-serif

section
  > .container
    margin-top: 10%

/* Head */

.hero
  position: relative
  height: 85vh
  width: 100%
  max-width: 1800px
  background-image: url("../images _and_icons/jumbotron.jpg")
  @include background-properties
  text-align: center
  color: #ffffff

.hero__text
  position: absolute
  top: 47%
  left: 50%
  transform: translate(-50%, -50%)

.hero__text--title
  @include font-size(45px)
  margin-top: 10%
  margin-bottom: 8%
  text-transform: uppercase
  font-style: 800

.hero__text--sentence
  @include font-size(17px)
  line-height: 30px

.hero__icon-mouse
  margin-top: 20%

/* Content */

.content
  position: relative
  padding: 10%
  border: 1px solid #3c3c3c
  text-align: center

.content__title
  position: absolute
  top: -0.5%
  left: 50%
  padding: 0 10%
  background-color: #FFFFFF
  transform: translate(-50%, -50%)
  @include font-size(32px)
  text-transform: uppercase

.content__text
  max-width: 500px
  margin: 0 auto

.content__text--paragraph
  padding-top: 5%
  @include font-size(16px)
  line-height: 1.5rem
  font-weight: 300
