@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&subset=latin-ext')

@import reset
@import mixins



html
  font-size: $base-font-size

@media (min-width: 768px) and (max-width: 991px)
  html
    font-size: 16px

*
  box-sizing: border-box

body
  @include font-size(16px)
  font-family: 'Lato', sans-serif
  color: #3C3C3C

section
  margin: 0 auto
  > .container
    margin-top: 10%
    width: 100%
    max-width: 1800px

/* Head */

.hero
  position: relative
  height: 700px
  width: 100%
  max-width: 1800px
  margin: 0 auto
  background-image: url("../images_and_icons/jumbotron.jpg")
  @include background-properties
  text-align: center
  color: #ffffff

.hero__text
  position: absolute
  top: 47%
  left: 50%
  transform: translate(-50%, -50%)

.hero__text--title
  @include font-size(45px)
  margin-top: 10%
  margin-bottom: 8%
  text-transform: uppercase
  font-weight: 700

.hero__text--sentence
  @include font-size(17px)
  line-height: 30px

.hero__icon-mouse
  margin-top: 20%

/* Content */

.border-black
  border: 1px solid black
.border-white
  border: 1px solid white
.content
  position: relative
  padding: 2%
  text-align: center

.content__title
  position: absolute
  top: -0.5%
  left: 50%
  padding: 0 5%
  background-color: #FFFFFF
  transform: translate(-50%, -50%)
  @include font-size(32px)
  text-transform: uppercase

.content__text
  max-width: 500px
  margin: 0 auto
  padding-top: 8%

.content__text--paragraph
  padding-bottom: 8%
  @include font-size(16px)
  line-height: 1.5rem
  font-weight: 300

/* Service */
#service
  height: 400px
  width: 100%
  max-width: 1800px
  background-image: url("../images_and_icons/service.jpg")
  @include background-properties

.service
  height: 400px

.content-service
  @extend .content
  margin-top: 8%
  color: #FFFFFF

.content-service__title
  @extend .content__title
  background-color: initial

/*What we do*/

.content__text--img
  padding-top: 8%

.content__text--title
  padding: 5% 0 5% 2%
  @include font-size(20px)
  text-transform: uppercase
  font-weight: 700
  letter-spacing: 0.29rem

/* Gallery */

[class*=col-], .col
  padding: 0

[class*="photo"]
  height: 300px
  width: 100%
  @include background-properties

.photo-1
  border-top: 5px solid white
  border-bottom: 5px solid white
  border-right: 0 solid white
  border-left: 0 solid white
  background-image: url("../images_and_icons/topworkz.jpg")

.photo-2
  border-top: 5px solid white
  border-bottom: 5px solid white
  background-image: url("../images_and_icons/joint.jpg")

.photo-3
  border-top: 5px solid white
  border-bottom: 5px solid white
  border-right: 0 solid white
  border-left: 5px solid white
  background-image: url("../images_and_icons/market.jpg")

.photo-4
  border-top: 0 solid white
  border-left: 0 solid white
  background-image: url("../images_and_icons/worktop.jpg")

.photo-5
  background-image: url("../images_and_icons/label.jpg")

.photo-6
  background-image: url("../images_and_icons/kyiv.jpg")
